<%- include("partials/header") -%>
<title>For recruiters</title>
<link rel="stylesheet" href="styling/home.css"/>
<link rel="stylesheet" href="styling/style_forrec.css" />
</head>

<body>
    <%- include("partials/navbar") -%>
<div class="allcontainer" style="position: relative;">
    <div class="background">
        <img src="images/top-left.png" alt="" class="top-left" />
        <img src="images/bottom-left.png" alt=""class="bottom-left" />
        <img src="images/bottom-right.png" alt="" class="bottom-right" />
    </div>
    <div class="head-section">
        <div class="head">
            <span class="blue"><h1>Experience</h1></span>
            <br>
            <span class="grad"><h1>Excellence</h1></span>
        </div>
    </div>
</div>
<div class="all" style="height: 1000px;">
    <div class="intro">
        <div class="tagline">
            <div class="para-1">
                <p>Unlock your Companies Future: Connect with Top Talent at CBIT</p>
            </div>
            <div class="para-2">
                <p>Welcome to our college's placement hub, where top recruiters connect with exceptional talent. Our platform bridges the gap between ambitious students and esteemed companies seeking future leaders. Join us in shaping tomorrow's workforce. Explore opportunities with renowned organizations and kick-start your career journey today.</p>
            </div>
        </div>
    </div>
    <div class="tab-wrap">
        <div class="tab">
            WHY YOU SHOULD RECRUIT US?
        </div>
    </div>
    <div class="key-point-container">
        <div class="key-point">
            <h3>Exceptional Talent Pool</h3>            
          </div>
        <div class="key-point">
            <h3>Industry-Relevant Curriculum</h3>            
        </div>
        <div class="key-point">
            <h3>Strong Academics</h3>            
        </div>
        <div class="key-point">
            <h3>Robust Training and Development</h3>
        </div>
    </div>
    <h1 class="text-body-emphasis high-head">Our Recruiters</h1>
    <div class="scroll-container">
        <div class="brand-wheel">
          <div class="brand-slide">
            <div class="logo-div">
              <img alt="#" src="images/amazon.png">
            </div>
            <div class="logo-div">
              <img alt="#" src="images/bajaj.png">
            </div>
            <div class="logo-div">
              <img alt="#" src="images/ey.png">
            </div>
            <div class="logo-div">
              <img alt="#" src="images/hcl.png">
            </div>
            <div class="logo-div">
              <img alt="#" src="images/intel.png">
            </div>
            <div class="logo-div">
              <img alt="#" src="images/micron.png">
            </div>
            <div class="logo-div" style="margin-right: 20px;">
              <img alt="#" src="images/microsoft.png">
            </div>
            <div class="logo-div" style="margin-right: 200px;">
              <img alt="#" src="images/oracle.png">
            </div>
            <div class="logo-div" style="margin-right: 170px;">
              <img alt="#" src="images/qualcomm.png">
            </div>
            <div class="logo-div">
              <img alt="#" src="images/sachs.png">
            </div>
            <div class="logo-div">
              <img alt="#" src="images/samsung.png">
            </div>
          </div>
        </div>
      </div>
      <div class="my-5 why">
        <div class="p-5 text-center bg-body-tertiary high">
          <h1 class="text-body-emphasis high-head">WHY CBIT</h1>
          <div class="container py-5 high-con">
            <div class="row">
              <div class="col-lg-4">
                <i class="fa-solid fa-star fa-2x"></i>
                <h2 class="fw-normal high-h">Alumni</h2>
                <p class="high-p"> Our Alumni have emerged successful and excelled in varied professions across the globe. This network is highly enriching for the growth of our community.</p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <i class="fa-solid fa-briefcase fa-2x"></i>
                <h2 class="fw-normal high-h">All Round development</h2>
                <p class="high-p">One’s skills, aptitude and perception reflect the personality of an individual. We offer numerous opportunities for multi dimensional growth of an individual.</p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <i class="fa-solid fa-ranking-star fa-2x"></i>
                <h2 class="fw-normal high-h">Rankings</h2>
                <p class="high-p">Recognized as Telangana's No. 1 University, we strive for excellence. Our rankings are reflective of our steep progress. .</p>
              </div><!-- /.col-lg-4 -->
            </div>
          </div>
        </div>
      </div>
      <div class="contactus container+" >
        <div class="contact-head">
          <h1 class="text-body-emphasis high-head">CONTACT US</h1>
        </div>
        <div class="contact-container">
          <div class="row">
            <div class="col">
              <div class="profile">
                <div class="profile-image">
                  <img src="https://assets.codepen.io/285131/neongirl.jpg" />
                </div>
                <h2 class="profile-username">Elena Zoldado</h2>
                <div class="profile-actions">
                  <button class="btn btn--icon">
                    <i class="fa-solid fa-envelope fa-2x mx-3" style="color: #7d8396;"></i>
                  </button>
                  <button class="btn btn--icon">
                    <i class="fa-brands fa-linkedin fa-2x" style="color: #7d8396;"></i>
                  </button>
                </div>
                <div class="profile-links">
                  <a href="#" class="link link--icon">
                    <i class="fa-brands fa-x-twitter"></i>
                  </a>
                  <a href="#" class="link link--icon">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                  <a href="#" class="link link--icon">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="profile">
                <div class="profile-image">
                  <img src="https://assets.codepen.io/285131/neongirl.jpg" />
                </div>
                <h2 class="profile-username">Elena Zoldado</h2>
                <div class="profile-actions">
                  <button class="btn btn--icon">
                    <i class="fa-solid fa-envelope fa-2x mx-3" style="color: #7d8396;"></i>
                  </button>
                  <button class="btn btn--icon">
                    <i class="fa-brands fa-linkedin fa-2x" style="color: #7d8396;"></i>
                  </button>
                </div>
                <div class="profile-links">
                  <a href="#" class="link link--icon">
                    <i class="fa-brands fa-x-twitter"></i>
                  </a>
                  <a href="#" class="link link--icon">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                  <a href="#" class="link link--icon">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="profile">
                <div class="profile-image">
                  <img src="https://assets.codepen.io/285131/neongirl.jpg" />
                </div>
                <h2 class="profile-username">Elena Zoldado</h2>
                <div class="profile-actions">
                  <button class="btn btn--icon">
                    <i class="fa-solid fa-envelope fa-2x mx-3" style="color: #7d8396;"></i>
                  </button>
                  <button class="btn btn--icon">
                    <i class="fa-brands fa-linkedin fa-2x" style="color: #7d8396;"></i>
                  </button>
                </div>
                <div class="profile-links">
                  <a href="#" class="link link--icon">
                    <i class="fa-brands fa-x-twitter"></i>
                  </a>
                  <a href="#" class="link link--icon">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                  <a href="#" class="link link--icon">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          
          
          
        </div>
      </div>
</div>

</body>

</html>