<%- include("partials/header") -%>
    <title>Adding Opportunity</title>
    <link rel="stylesheet" href="styling/oppr_add.css" />
  </head>
  <body
  >

<a href="/placement_drive"><button class="btn btn-primary">Go Back</button></a>
      <div class="big_card">
        
        <form action="/add_oppr" method="POST">
          <div class="forms_up" style="margin-top: 5rem">
           <label for="companyname" class="form-label">Company Name:</label>
           <input type="text" name="companyname" id="companyname" class="form-control form-control_s" required>
            <label for="companydomain" class="form-label">Company Domain: </label>
            <input type="text" name="companydomain" id="companydomain" class="form-control form-control_s" required>
            <label for="role" class="form-label">Role: </label>
            <input type="text" name="role" id="role" class="form-control form-control_s" required>
            <label for="availseats" class="form-label">Availabe Vacancies: </label>
            <input type="text" name="availseats" id="availseats" class="form-control form-control_s" required>
            <label for="lastdate" class="form-label">Last Date: </label>
            <input type="date" name="lastdate" id="lastdate" class="form-control form-control_s" required>
            
            <label for="eligibilty" class="form-label">Eligibilty: </label>
            <input type="text" name="eligibilty" id="eligibilty" class="form-control form-control_s" required>
            <label for="quals" class="form-label">Minimum Qualifications: </label>
            <textarea name="quals" id="quals" rows="4" class="form-control form-control_s" required></textarea>
            <label for="jobdesc" class="form-label">Job Description: </label>
            <textarea name="jobdesc" id="jobdesc" rows="4" class="form-control form-control_s" required></textarea>
            <label for="jobtype" class="form-label">Job Type: </label>
            <input type="text" name="jobtype" id="jobtype" class="form-control form-control_s" required>
          </div>
          
          <div class="submit-ip" style="margin-top: 2rem">
            <button type="submit" class="btn btn-primary">
              <strong>Add Opportunity</strong>
            </button>
          </div>
        </form>
      </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
